docker : pg_dump: error: query failed: ERROR:  invalid regular expression: parentheses () not balanced
No linha:1 caractere:1
+ docker exec obras-rk-postgres-1 pg_dump -U rk_admin -d rk_main --sche ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (pg_dump: error:...() not balanced:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
pg_dump: detail: Query was: SELECT c.oid
FROM pg_catalog.pg_class c
     LEFT JOIN pg_catalog.pg_namespace n
     ON n.oid OPERATOR(pg_catalog.=) c.relnamespace
WHERE c.relkind OPERATOR(pg_catalog.=) ANY
    (array['r', 'S', 'v', 'm', 'f', 'p'])
  AND c.relname OPERATOR(pg_catalog.~) E'^(\\message\\)$' COLLATE pg_catalog.default
  AND n.nspname OPERATOR(pg_catalog.~) '^(evolution)$' COLLATE pg_catalog.default
